*{
    margin: 0;
    padding: 0;
    background-color: #fff;
}
body{
    overflow: hidden;
}
.navbar{
    height: 50px;
    width: 100vw;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* float: right; */
  }
  
  .navbar li {
    float: right;
  }
  
  .navbar li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover:not(.active) {
    background-color: #0051ff79;
  }
  .active {
    background-color: #0051ff79;
  }
  input[type=text], select, textarea {
    width: 100%;

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #8A39E1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #330664;
    ;
  }
  
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
  }
  .feed{
    color: #0051ffea;
  }